.todo-header-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #282c34;
    padding: 10px;
    font-weight: bold;
    margin-top: 50px;
}

.description-header {
    flex-grow: 1; 
    max-width: 35%;
    cursor: pointer;
}

.todo-header-wrapper > span:last-child {
    min-width: 10%;
}
